* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  color: hsl(0, 0%, 100%);
  font-family: "Space Grotesk", sans-serif;
}

.card-detail {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.cards-section {
  background-image: url("./images/bg-main-desktop.png");
  background-repeat: no-repeat;
}

.card-container {
  padding: 5rem;
  width: 75%;
  position: relative;
}

/* CARD FRONT */
.card-front {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 1rem 3rem;
  transform: translate(40%, 25%);
  width: 40rem;
  border-radius: 9px;
  height: 22rem;
  box-shadow: 2px 0 32px rgb(0, 0, 0, 0.3);
}
.card-front-img {
  background-image: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  position: absolute;
  width: 50rem;
  z-index: -1;
  left: -5rem;
  top: -4rem;
  background-size: 80%;
}

.card-logo {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.card-number {
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}
.cardholder {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.expiery-date {
  letter-spacing: 4px;
}

/* CARD BACK */

.card-back {
  padding: 1rem 4rem;
  transform: translate(60%, 120%);
  padding: 9rem 2rem 0 32rem;
  position: absolute;
  width: 40rem;
  border-radius: 9px;
  height: 20rem;
  box-shadow: 0 5px 32px rgb(0, 0, 0, 0.3);
}

.card-back::after {
  content: "";
  background-image: url("./images/bg-card-back.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  position: absolute;
  width: 50rem;
  z-index: -1;
  left: -4rem;
  bottom: -5rem;
  background-size: 80%;
}

.cvc-number {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

/*card-form*/
.hidden {
  display: none;
}
.exp-cvc {
  display: flex;
  gap: 2rem;
}
.exp-date {
  display: flex;
  gap: 1rem;
}

.card-form-div {
  color: hsl(278, 68%, 11%);
}
.container {
  max-width: 35%;
  margin: 0 auto;
  padding: 20rem 0;
}
label {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-weight: 600;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.field {
  width: 100%;
  font-family: inherit;
  height: 4rem;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 8px;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: hsl(278, 68%, 11%);
}

.exp {
  width: 45%;
}

.btn-confirm {
  padding: 1rem;
  cursor: pointer;
  margin-top: 3.5rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: hsl(278, 68%, 11%);
  color: hsl(270, 3%, 87%);
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.error {
  margin-top: 2rem;
  color: red;
}
input:hover,
input:active,
input:focus {
  border: double 1px transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  outline: none;
}
/* empty-error {
} */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

.confirm-text {
  display: block;
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.confirm-context {
  font-size: 1.2rem;
  color: hsl(279, 6%, 55%);
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.continue-btn {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 5px;
}

@media (max-width: 28em) {
  html {
    font-size: 62.5%;
  }

  .card-detail {
    grid-template-columns: none;
    grid-template-rows: 2fr 3fr;
  }

  .card-back {
    transform: scale(0.65) translate(-20%, -120%);
    box-shadow: none;
    z-index: 1;
  }
  .card-front {
    transform: scale(0.65) translate(-35%, 10%);
    z-index: 2;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 10rem 0;
  }
}
